<div class="container-fluid padding-top">
	<div class="row">
		<div class="col-6 col-md-3 pt-css">
			<div class="list-group pt-4 ">
				<a class="list-group-item list-group-item-action heading-css">
					Sample Videos
				</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">MP4</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">FLV</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">MKV</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">3GP</a>
			</div>

			<div class="list-group pt-4">
				<a class="list-group-item list-group-item-action heading-css">
					Sample Images
				</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">JPG</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">PNG</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">GIF</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">SVG</a>
			</div>

			<div class="list-group pt-4">
				<a class="list-group-item list-group-item-action heading-css">
					Sample Audio
				</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">MP3</a>
			</div>

			<div class="list-group pt-4">
				<a class="list-group-item list-group-item-action heading-css">
					Sample Text
				</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Text</a>
			</div>

			<div class="list-group pt-4">
				<a class="list-group-item list-group-item-action heading-css">
					Sample Files
				</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample XLS</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample CSV</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample Doc File</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample SQL</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample PPT</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample PDF</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample ZIP</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample PSD</a>
				<a class="list-group-item list-group-item-action pt-2 pb-2 items-space">Sample DXF</a>
			</div>
		</div>
		<div class="col-6 col-md-6">.col-6 .col-md-4</div>
		<div class="col-6 col-md-3">.col-6 .col-md-4</div>
	</div>
</div>