<div class="container-fluid padding-top">
	<div class="row">
		<div class="col-6 col-md-3">
			<div class="list-group">
				<a class="list-group-item list-group-item-action heading-css">
					Sample Videos
				</a>
				<a class="list-group-item list-group-item-action">MP4</a>
				<a class="list-group-item list-group-item-action">FLV</a>
				<a class="list-group-item list-group-item-action">MKV</a>
				<a class="list-group-item list-group-item-action">3GP</a>
			</div>
		</div>
		<div class="col-6 col-md-6">.col-6 .col-md-4</div>
		<div class="col-6 col-md-3">.col-6 .col-md-4</div>
	</div>
</div>