.padding-top{
	/*padding-top: 45px*/
}
.heading-css{
	background-color: #1b3d5f;
	color: white !important;
	font-size: 100%;
	font-weight: 600;
}
.items-space{
	cursor: pointer;
	font-size: 88%;
}
.pt-css{
	/*border-radius: 12px;*/
	/*z-index: -1;*/
	box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.48);
	background-color: #D2CFCF;
}
.card-css{
	background-color: #F2F2F2;
	border-radius: 5px;
	/* padding: 10px; */
	border: 1px dashed #D2CFCF;
}
.cart-ttly{
	font-size: 120%;
	color: #292929;
	text-align: center;
}
.feedback-css{
	font-size: 91%;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	color: #5d5656;
	font-weight: 700;
}
.con-css{
	font-size: 81% !important;
}
.title-css{
	font-size: 155%;
	color: #1e4152;
}
.cont-css{
	font-size: 95%;
}
.feedback-text{
  font-size: small;
  color: green;
}
